<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta property="og:title" content="title> Dedric's Resume</title>">
    <meta property="og:author" content="Dedric Roundtree">
    <meta property="og:type" content="windows-1252">
    <meta property="og:url" content="https://Dedric'sResume.com/page">
    <link rel="icon" href="favicon_io/favicon.ico" type="image">
    <img src="favicon_io/favicon.ico" alt="favicon Logo">

</head>
    
    <body>
        <em><hr></em>
        <h1>Dedric Roundtree</h1>

        <p>Junior Front-end Developer</p>

        <p>916 8th St SE</p>
        <p>Cedar Rapids,IA 502401</p>
        <p>319-202-5948</p>
        <p>Dedircb.k.round@gmail.com</p>

        <p><em>Skills</em></p>
        <p>
        <ol>
            <li>Wed Design</li>
            <li>CSS</li>
            <li>Customer Support</li>
            <Li>Banking</Li>
            <Li>Problem Solving/Trouble Shooting</Li>
            <Li>Sales</Li>

        </ol>
        <p><em>Education</em></p>
        <p>
        <ol>
            <li>Kirkwood Community College</li>
            <p>Augest 2019-January2021</p>
            <Li>Univerity Of Northern Iowa</Li>
                <p>January 2021-present</p>
        </ol>
        <ol>
            <p>Course work:</p>
            <li>Cursor-based list class</li>
            <li>Binary search tree</li>
            <li>Graph traversals</li>

        </ol>
        </p>
        <p><em>Experience</em></p>
        <p>
        <ol>
            <li>,Collins Community Credit Union,Cedar Fall,Member Services Representative</li>
            <p>Jan 2022 to Present</p>
        </ol>
        <p>
        <ol>
            Skills:
            <li>Communication</li>
            <li>problem solving</li>
            <li>account opening</li>
        </ol>
        <p><em>Across the Internet</em></p>
        <ol>
            <li><addr title="github">
                <a href="https://github.com/Ded-19">GitHub</a>
            </addr>.</li>
            <li><addr title="linkedin">
                <a href="https://www.linkedin.com/in/dedric-roundtree/">Linkedin</a>
            </addr></li>
        </ol>
        </p>
        </p>
 
    </body>

</html>